/* ==UserStyle==
@name         Dark Framingham Blackboard
@namespace    github.com/Meantub/user-css
@version      1.0.0
@license      unlicense
@preprocessor default
==/UserStyle== */

@-moz-document domain("framingham.blackboard.com") {
input {
    background: #585862;
    color: #fff;
}

input#insert,
input#cancel {
    color: #000;
}

input[type="button"]:hover {
    cursor: pointer !important;
}

#appTabList a {
    background: #888;
    border: 1px solid #888;
    border-radius: 1em;
}

#appTabList a:hover {
    background: #999;
}

div.cell,
h2[id^="anonymous_element"],
h4,
input.genericButton,
#actionbar,
#breadcrumbs,
#breadcrumbs a,
#breadcrumbs span,
#content,
#content a:not([class~="moduleToggleLink"]):not([onclick^="mygrades"]),
#content h3,
#content p,
#content span:not([class^="activityType"]):not([class^="contextMenuContainer"]):not([class^="grade"]):not([class^="lastActivityDate"]):not([class^="mceAction"]):not([class^="mceIcon"]):not([class^="pointsPossible"]):not([class^="profileCardAvatarThumb"]):not([class="table-data-cell-value"]):not([class^="total-count"]),
#contentPanel,
#dataCollectionContainer,
#dataCollectionContainer h3,
.db-reply-block,
#filterby,
#htmlSource,
#loginAnnouncements,
#loginAnnouncements li,
#loginAnnouncements ul li strong:first-child,
#loginContainer,
#loginPageContainer,
#step1,
#step2,
#step3,
#step3 li,
#stepcontent1,
#stepcontent1 label,
#stepcontent2,
#stepcontent3,
.actionBar ul li a,
.additionalInfo a,
.clearfix,
.clearfix.dragHandle:hover,
.collapsible:hover,
.fullvtbe,
.infoListWrapper,
.inventory,
.locationPane,
.mceLayout,
.mceLayout #descriptiontext_fullvtbe,
.mceStatusbar,
.mceStatusbar.mceFirst.mceLast div,
.mceToolbar.mceLeft.mceFirst.mceLast,
.message-wrapper-inner,
.portlet.clearfix,
.portletInfoFooter,
.sorted,
.submitStepBottom.submitStepFixed,
.taskbuttondiv_wrapper,
.tinymce,
.unread-posts,
.unread-replies-to-me-posts {
    background: #2a2a2e !important;
    color: #c0c0c0 !important;
}

#content span[class^="mceAction"],
#content span[class^="mceIcon"]:not([class~="mce_bb_recorder"]) {
    filter: invert(100%);
}

#filterby a.active {
    background: #6d6d77 !important;
}

#listContainer_databody tr.gray a,
#listContainer_databody tr.gray span,
#listContainer_databody tr.gray td,
#listContainer_databody tr.gray th {
    background: #585862 !important;
}

#msgAttachment_localBrowse {
    cursor: pointer;
}

.actionBarMicro {
    background: #333333 !important;
}

.browse.visibleInput,
.fileInputWrapper,
.hiddenInput {
    cursor: pointer !important;
}

div.calculatedRow,
div.calculatedRow > div,
div.graded_item_row,
div.graded_item_row > div,
div.upcoming_item_row,
div.upcoming_item_row > div {
    height: 54px !important;
}

div.graded_item_row > div > a[onclick] {
    background: #2a2a2e !important;
    color: #c0c0c0 !important;
}

div.calculatedRow:hover,
div.calculatedRow:hover > div,
div.calculatedRow:hover > div > span,
div.graded_item_row:hover,
div.graded_item_row:hover > div,
div.graded_item_row:hover > div > a[onclick],
div.upcoming_item_row:hover,
div.upcoming_item_row:hover > div {
    background: #3b3b42 !important;
}

.locationPane {
    min-height: 91%;
}

.mceContentHtml {
    background: #828080;
}

.moduleToggleLink,
span.reorder span {
    opacity: 0;
}

.submitStepTop {
    height: auto !important;
    min-height: 60px;
}

.inventory > thead tr th,
.stream_item {
    background: #3b3b42 !important;

}

#globalNavPageContentArea,
#anonymous_element_4 a,
#anonymous_element_5 a,
#paneTabs li a,
.navPaletteContent,
#courseMenuPalette_contents a span,
#streamHeader_alerts,
#dynamic_filters_alerts,
.left_stream_wrapper,
#left_stream_alerts,
#outer_left_stream_mygrades,
.liveArea {
    background-color: #2a2a2e !important;
    color: #c0c0c0 !important;
}

.grade-value,
.stream_context {
    color: #efefef !important;
}

#breadcrumbs {
    border-bottom-color: #2a2a2e !important;
    border-left-color: #2a2a2e !important;
}
}