/* ==UserStyle==
@name         Dark Overleaf PDF Viewer
@namespace    github.com/Meantub/user-css
@version      1.0.0
@license      unlicense
@preprocessor default
==/UserStyle== */

@-moz-document domain("overleaf.com") {
.pdf-canvas,
.ace_scrollbar {
    filter: invert(95%) !important;
}

body,
.pdf,
.pdfjs-viewer,
.loading-screen,
.ui-layout-mask,
.loading-panel {
    background-color: black !important;
    background: black !important;
}

#left-menu,
.content-alt {
	background-color: #232323 !important;
}

#left-menu ul.nav-downloads li a,
#left-menu form.settings label {
	color: #b2b2b2 !important;
}

.card {
	background-color: #292929 !important;
}
body {
	color: #d2d2d2 !important;
}
.project-list-table-row:hover {
 background-color:#454545 !important;
}
footer.site-footer {
	background-color: black !important;
	border-top: none !important;
}
}